 .scoreTable h2{
  text-align: center;
  color:rgb(29, 183, 230);
  font-weight:900;
  font-size: 3rem;
} 
.scoreTable{
  margin: 10px 40px;
  border: 4px solid purple;
  border-radius: 5px;
  padding: 30px;
}
.countryScore,.world-wide-score{
  margin: 15px 40px;
  border: 10px solid green;
  border-radius: 5px;
  padding: 30px;

}
.countryScore h4{
  text-align: center;
  color: rgb(29, 183, 230);
  font-weight: 700;
  font-size: 1.8rem;
} 
.class table{
  text-align: center;
}
.table{
  border: 2px solid black;
}
.table tbody{
  text-align: right;
  font-size: 1.3rem;
  font-weight: 700;
}
.score{
  color: brown;
}
.world-wide-score h2{
  text-align: center;
  color: rgb(29, 183, 230);
  font-weight: 900;
  font-size: 3rem;
}